.koza-loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.koza-loader-container .absolute {
    position: absolute;
}

.koza-loader-container .inline-block {
    display: inline-block;
}

.koza-loader-container .w-2 {
    width: 0.5em;
}

.koza-loader-container .dash {
    animation: kozaDashArray 2s ease-in-out infinite,
        kozaDashOffset 2s linear infinite;
}

.koza-loader-container .spin {
    animation: kozaSpinDashArray 2s ease-in-out infinite,
        kozaSpin 8s ease-in-out infinite,
        kozaDashOffset 2s linear infinite;
    transform-origin: center;
}

@keyframes kozaDashArray {
    0% {
        stroke-dasharray: 0 1 359 0;
    }

    50% {
        stroke-dasharray: 0 359 1 0;
    }

    100% {
        stroke-dasharray: 359 1 0 0;
    }
}

@keyframes kozaSpinDashArray {
    0% {
        stroke-dasharray: 270 90;
    }

    50% {
        stroke-dasharray: 0 360;
    }

    100% {
        stroke-dasharray: 270 90;
    }
}

@keyframes kozaDashOffset {
    0% {
        stroke-dashoffset: 365;
    }

    100% {
        stroke-dashoffset: 5;
    }
}

@keyframes kozaSpin {
    0% {
        rotate: 0deg;
    }

    12.5%,
    25% {
        rotate: 270deg;
    }

    37.5%,
    50% {
        rotate: 540deg;
    }

    62.5%,
    75% {
        rotate: 810deg;
    }

    87.5%,
    100% {
        rotate: 1080deg;
    }
}